.forgotpassword {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/landing.jpg") no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.forgotpassword__form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(27, 26, 26, 1.2);
  background: rgb(167, 240, 193);
  border-radius: 30px;
}

.forgotpassword__title {
  text-align: center;
  margin-bottom: 1rem;
}

.forgotpassword__bottomtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}
